@model IEnumerable<Song>

@{
    ViewData["Title"] = "Index";
}

<h1>Tracks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpotifyId)
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Track name</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["ArtistSortParm"]">@Html.DisplayNameFor(model => model.Artist)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.ReleaseDate)</a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpotifyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>